// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.music_img {
    width: 100%;
    height: 100%;
}

.music_frame{
  padding: 30px;
  background-color: lightyellow;

}

.center{
  width: 90%;
  margin: auto;
  text-align: center;
}

.title{
  text-align: center;
  margin: 0 auto;
}

input[type="radio"]{
   -webkit-transform: scale(3);
   transform: scale(3);
   margin-right: 0.5em;
}

input[type="submit"]{
    padding:auto;
    border: 2px solid #57C3E9;
    background-color: white;
    width:130px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
}

.text_scale2{
  font-size:200%;
}

.mergin90{
  width: 90%;
  margin: auto;
}

.music_title{
  font-size:20px;
}

.input_music  {
    width: 80%;
    height: 80%;
    font-size:500%;
    color:seagreen;
    background-color: lightcyan;
    border: 1px solid gray;
    -webkit-border-radius: 16px;
}

table{
  table-layout: fixed;
  width: 100%;
}

td{
  /*border: 1px solid #FF0000;*/
  text-align: center;
  margin: 0 auto;
  font-size:40px;
}