// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.music_img {
    float: left;
    width: 40%;
    height: 40%;
}

.center{
  width: 90%;
  margin: auto;
  text-align: center;
}

.title{
  text-align: center;
  margin: 0 auto;
}

input[type="radio"]{
   -webkit-transform: scale(3);
   transform: scale(3);
   margin-right: 0.5em;
}

.text_scale2{
  font-size:200%;
}

.mergin90{
  width: 90%;
  margin: auto;
}

.music_title{
  width: 60%;
  height: 60%;
  font-size:15px;
}

.input_music  {
    width: 80%;
    height: 80%;
    font-size:500%;
    color:seagreen;
    background-color: lightcyan;
    border: 1px solid gray;
    -webkit-border-radius: 16px;
}

table{
  table-layout: fixed;
  width: 60%;
}

td{
  /*border: 1px solid #FF0000;*/
  text-align: center;
  margin: 0 auto;
  font-size:180%;
}